.wp-pagenavi{
    display:flex;
    justify-content:center;
    gap:16px
}
.wp-pagenavi span{
    width:36px;
    height:36px;
    display:flex;
    border:1px solid #4b5364;
    transition:.3s all;
    cursor:pointer;
    align-items:center;
    justify-content:center;
}

.wp-pagenavi a{
    width:36px;
    height:36px;
    display:flex;
    border:1px solid #4b5364;
    transition:.3s all;
    cursor:pointer;
    align-items:center;
    justify-content:center;
}

.wp-pagenavi span.current{
    cursor:default;
    background:#0f43b7;
    border:1px solid #0f43b7
}
.wp-pagenavi a:hover{
    background:#0f43b7;
    border:1px solid #0f43b7
}
.wp-pagenavi span:hover{
    background:#0f43b7;
    border:1px solid #0f43b7
}