@font-face {
    font-family: 'e-Ukraine Head';
    src: url('e-UkraineHead-Bold.woff2') format('woff2'),
        url('e-UkraineHead-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'e-Ukraine Head';
    src: url('e-UkraineHead-Light.woff2') format('woff2'),
        url('e-UkraineHead-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'e-Ukraine Head';
    src: url('e-UkraineHead-Medium.woff2') format('woff2'),
        url('e-UkraineHead-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'e-Ukraine Head LOGO';
    src: url('e-UkraineHead-LOGO.woff2') format('woff2'),
        url('e-UkraineHead-LOGO.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'e-Ukraine Head';
    src: url('e-UkraineHead-Regular.woff2') format('woff2'),
        url('e-UkraineHead-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'e-Ukraine Head';
    src: url('e-UkraineHead-UltraLight.woff2') format('woff2'),
        url('e-UkraineHead-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'e-Ukraine Head';
    src: url('e-UkraineHead-Thin.woff2') format('woff2'),
        url('e-UkraineHead-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

